.highlight{color: rgb(162, 226, 43);}
.big-text{font-size: 24px ;}
.blue-background{background-color:rgb(87, 29, 225)}
.red-button{background-color: rgb(255, 25, 0);}
.green-box{background-color: rgb(207, 241, 15);}